.service_container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 3rem;
}
.service{
     background: var(--color-bg-variant);
     border-radius: 0 0 2rem 2rem;
     height: fit-content;
     border-color: var(--color-primary);
     transition: var(--transition);
     border: 1px solid transparent;
}
.service:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.service_head{
    background: var(--color-primary);
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service_head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}
.service_list{
    padding: 2rem;
}
.service_list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.service_list_icon{
    color: var(--color-primary);
    margin-top: 5px;
}
.service_list p{
    font-size: 0.9rem;
}
.service img{
    height: 20rem;
    border-radius: 1.7rem;
    padding: 1rem;
}

@media screen and (max-width:1024px) {
    .service_container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service{
        height: auto;
    }
    
}
@media screen  and (max-width:600px){
    .service_container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
}